<div>
    <h2 id="page-heading">
        <button type="submit" [routerLink]="['/project']" class="btn btn-info btn-sm float-left mr-1 mt-2">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <span jhiTranslate="defaultApp.projectAcl.home.title">Project Permissions</span>
        <span>{{ project.name }}</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="userProjectAcls">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span jhiTranslate="defaultApp.projectAcl.user">User</span></th>
                    <th><span jhiTranslate="defaultApp.projectAcl.role">Role</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectAcl of userProjectAcls; trackBy: trackId">
                    <td>
                        {{ projectAcl.user?.login }}
                        {{ projectAcl.user?.firstName }}
                        {{ projectAcl.user?.lastName }}
                    </td>

                    <td>
                        <ng-container *ngFor="let role of roles">
                            <span *ngIf="containsRole(role, projectAcl.acls)" class="badge badge-success">
                                <ng-container *ngFor="let acl of projectAcl.acls">
                                    <a *ngIf="currentAccount.id !== projectAcl.user.id && acl.role === role">
                                        <fa-icon (click)="deletePermission(acl)" [icon]="'times'"> </fa-icon>
                                    </a>
                                </ng-container>
                                {{ role }}
                            </span>
                            <span *ngIf="!containsRole(role, projectAcl.acls)" class="badge badge-danger">
                                <a *ngIf="currentAccount.id !== projectAcl.user.id">
                                    <fa-icon (click)="addPermission(projectAcl.user, role)" [icon]="'plus'"> </fa-icon>
                                </a>
                                {{ role }} </span
                            >&nbsp;
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userProjectAcls">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination
                [collectionSize]="totalItems"
                [(page)]="page"
                [pageSize]="itemsPerPage"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage(page)"
            ></ngb-pagination>
        </div>
    </div>
</div>
