<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectAcl">
            <h2><span jhiTranslate="defaultApp.projectAcl.detail.title">Project Acl</span> {{projectAcl.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="defaultApp.projectAcl.role">Role</span></dt>
                <dd>
                    <span jhiTranslate="{{'defaultApp.ProjectRole.' + projectAcl.role}}">{{projectAcl.role}}</span>
                </dd>
                <dt><span jhiTranslate="defaultApp.projectAcl.project">Project</span></dt>
                <dd>
                    <div *ngIf="projectAcl.project">
                        <a [routerLink]="['/project', projectAcl.project?.id, 'view']">{{projectAcl.project?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="defaultApp.projectAcl.user">User</span></dt>
                <dd>
                    {{projectAcl.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-acl', projectAcl.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
